@font-face {
    font-family: 'LINE Seed Sans-Bd';
    src: url('LINESeedKR-Bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed Sans-Rg';
    src: url('LINESeedKR-Rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINE Seed Sans-Th';
    src: url('LINESeedKR-Th.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
