.container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.content {
    padding: 180px 40px;
    max-width: 1280px;
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.imageArea {
    margin: auto;
    height: 406px;
    width: 406px;
    grid-column: 1/5;
}

.textArea {
    margin: auto;
    grid-column: 5/13;
}


.title {
    font-family: 'LINE Seed Sans-Bd';
    font-weight: 800;
    font-size: 34px;
    line-height: 140%;
    color: #1D1D1D;
}

.desc {
    font-family: 'LINE Seed Sans-Rg';
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #1D1D1D;
    margin-bottom: 25px;
}

@media (max-width: 900px) {
    .content {
        padding: 100px 16px;
        max-width: 320px;
        display: flex;
        flex-direction: column-reverse;
    }

    .imageArea {
        max-width: 320px;
        margin-top: 32px;
    }

    .title {
        font-size: 28px;
    } 

    .desc {
        font-size: 18px;
    }
}
